@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.head
{
  font-size: 200px;
  display: inline;
  height: 200px;
  text-align: left;
  font-family: 'Anton', sans-serif;
  color: white; 
}
.head2
{
  font-size:70px;
}
.first
{
  font-size: 150%;
  font-family: 'Yusei Magic', sans-serif;
  display: inline;
}
.second
{
  font-size: 150%;
  font-family: 'Yusei Magic', sans-serif;
  display: inline;
}
.third
{
  font-size: 50px;
  text-align: center;
 color:#D3C20E;
 display: inline;
 margin: 20px;
}
img {
  display: inline;
  border-radius: 50%;
  width: 200px;
  margin: 70px;
}

.descr {
  font-size: 120%;
  position: relative;
  top: -150px;
  left: 150px;
  color: white;
  font-family: 'Yusei Magic', monospace;
}
.description {
  font-family: Pacifico;
  display: grid;
  grid-template-columns: 0.05fr 1fr;
}
ul {
  position: relative;
  left: 50px;
  top: -10px;
}
.graphics {
  position: relative;
  top: -150px;
  display: flex;
  text-align: center;
}
.column {
  flex: 10%;
  padding: 5px 0px 5px 125px;
}
.column1 {
  flex: 10%;
  padding: 35px 35px;
}
.column2 {
  flex: 10%;
  padding: 65px 350px 0px 0px;
}