@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.head
{
  font-size: 15vw;
  display: inline;
 
  text-align: left;
  font-family: 'Anton', sans-serif;
  color: rgb(184, 179, 255); 
}
.head2
{
  color: #411966;
  font-family:'Bree Serif';
  font-size:8vw;
}
.first
{
  font-size: 150%;
  font-family: 'Yusei Magic', sans-serif;
  display: inline;
}
.second
{
  font-size: 150%;
  font-family: 'Yusei Magic', sans-serif;
  display: inline;
}
.third
{
  font-family: 'Bree Serif';
  font-size: 10vw;
  text-align: center;
  color: #411966;
 display: inline;
 margin: 20px;
}
img {
  display: inline;
  border-radius: 50%;
  width: 15vw;
  margin: 5vw 5vw 0vw 5vw;
}

.descr {
  font-size: 2vw;
  position: relative;
  top:-10vw;
  left: 8vw;
  color: rgb(237, 215, 255);
  font-family: 'Yusei Magic', monospace;
}
.description {
  font-family: Pacifico;
  display: grid;
  grid-template-columns: 0.05fr 1fr;
}
ul {
  position: relative;
  left: 3.5vw;
  top: -1vw;
}
.graphics {
  position: relative;
  top: -15vw;
  display: flex;
  text-align: center;
}
.column {
  flex: 10%;
  padding: 5vw 0vw 5vw 12.5vw;
}
.column1 {
  flex: 10%;
  padding: 7vw 3.5vw;
}
.column2 {
  flex: 10%;
  padding: 9.5vw 3.5vw 0vw 0vw;
}
