[submodule "submissions/Tuxedo_Penguins"]
	path = submissions/Tuxedo_Penguins
	url = https://github.com/ishikajn8126/Psychologix.git
[submodule "submissions/tea-baggins"]
	path = submissions/tea-baggins
	url = https://github.com/thissarthak/tea-baggins.git
[submodule "submissions/candy-crinkles"]
	path = submissions/candy-crinkles
	url = https://github.com/yashashxrma/WhoopeeWebs.git
[submodule "submissions/pragmatic-pinatas"]
	path = submissions/pragmatic-pinatas
	url = https://github.com/madhavmehndiratta/codejam.git
