[submodule "submissions/Tuxedo_Penguins"]
	path = submissions/Tuxedo_Penguins
	url = https://github.com/ishikajn8126/Psychologix.git
[submodule "submissions/tea-baggins"]
	path = submissions/tea-baggins
	url = https://github.com/thissarthak/tea-baggins.git
[submodule "submissions/Chicken-Rice"]
	path = submissions/Chicken-Rice
	url = https://github.com/tusharpasricha/tabX.git
[submodule "submissions/candy-crinkles"]
	path = submissions/candy-crinkles
	url = https://github.com/yashashxrma/WhoopeeWebs.git
[submodule "submissions/prickly-poppins"]
	path = submissions/prickly-poppins
	url = https://github.com/mgjain9871/Tel-Finet.git
[submodule "submissions/fuzzy-soda"]
	path = submissions/fuzzy-soda
	url = https://github.com/vibhor172/Covid-Assistance-Outlet
[submodule "submissions/pragmatic-pinatas"]
	path = submissions/pragmatic-pinatas
	url = https://github.com/madhavmehndiratta/codejam.git
