body{
  background-color: black;
  background-size: cover;
  height: 100%;
}

[contenteditable] {
  outline: 1px solid transparent;
}

.header {
  margin-top: 10px;
  width: 100%;
  height: 81px;
  background-color: ;
  color: white;
  letter-spacing: 3px;
  font-family: rockwell;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
}

.header h1{
  text-align: center;
  font-weight: normal;
}

.center {
  display: flex;
  justify-content:center;
}
.particles {
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: -1;

}
.about{
  margin-top: 30px;
  padding: 0 25px 25px;
  /* height: 220px; */
  /* margin-bottom: 30px; */
}

.relative{
  position: relative;
}

.inputField{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 110px; */
  height: 80px;
  padding: 25px;

}

.images {
  margin-top: 0px;
  padding: 0 25px;
  /* height: 500px; */
  /* margin-bottom: 50px; */
}

.button1 {
  margin-left: 5px;
  border-radius: 25px;
  margin: 10px;
  width: auto;
  color: black;
  font-family: rockwell;
  text-align: center;
  padding: 10px 25px;
  cursor: pointer;
  border: 0;
  background-color: rgb(163, 157, 243);
  justify-content: center;
}

.button1:hover{
  background-color: #827aef;
}

.textfield{
  display: inline;
  padding-right: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin: 0 auto;
}

.Content{
  padding: 0 25px;
}

input[type=text]:focus {
  background-color: lightblue;
}

.footer{
  height: 25px;
  letter-spacing: 3px;
  padding: 25px;
  text-align: center;
  color: azure;
  font-family: rockwell;
}

#typewriter{
  color: aliceblue;
  margin-bottom: 25px;
}

.inputValue {
  border-radius: 15px;
  padding-left: 5px;
  margin: 10px;
  border: 0;
}

.heart{
  height: 18px;
  vertical-align: bottom;
}