.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #57239b72;
  color: white;
  padding: 10px 15px;
  font-size: 3vw;
  margin-bottom: 10px;
}

.heading {
  font-weight: 500;
  font-size: 27px;
}

.links a:not(:last-child) {
  margin-right: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
 
  
}
.links{
  display:inline;
}
a:hover
{
  color: #c6a4ff;
}

