.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #57239b72;
  color: white;
  padding: 10px 15px;
  font-size: 24px;
  margin-bottom: 10px;
}

.heading {
  font-weight: 500;
  font-size: 27px;
}

.links a:not(:last-child) {
  margin-right: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
 
  
}
.links{
  display:inline;
}
.links a:hover
{
color: black;
background-color:white;
border-radius:5px;
font-weight: 700;
text-shadow: 2px 2px 4px #000000;

}
a:hover
{
  text-shadow: 1px 1px 2px rgb(228, 21, 21), 0 0 25px yellowgreen, 0 0 5px green;
  opacity: 0.75;
}

