.showcase_main {
  background: url("https://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/s3/field/field_image_main/Helping%20banner.jpg?itok=aawrQgB1");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 20px;
  min-height: 600px;
  text-align: center;
}

.showcase_main > h1 {
  font-size: 3.5rem;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  z-index: 1000;
  position: relative;
}

.showcase_main > p {
  font-size: 2rem;
  margin-top: 20px;
  font-weight: 700;
  z-index: 1000;
  position: relative;
}

.showcase_main > button {
  position: relative;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid #02a95c;
  border-radius: 30px;
  width: 15%;
  margin-top: 40px;
  cursor: pointer;
  z-index: 1000;
  outline: none;
  background-color: #02a95c;
  color: #ffffff;
  font-family: "Poppins";
  text-transform: uppercase;
}

.showcase_main > button:nth-of-type(1) {
  margin-right: 20px;
}

.showcase_overlay {
  position: absolute;
  min-height: 640px;
  top: 90px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.showcase_needies {
  text-align: center;
}

.showcase_needies > h1 {
  font-size: 3.5rem;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

.showcase_needies_grid > img {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}

.showcase_needies_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.showcase_needies > button {
  width: 20%;
  padding: 10px;
  margin: 50px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.showcase_quotes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  text-align: center;
  padding: 50px;
}

@media (max-width: 800px) {
  .showcase_main {
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 20px;
    min-height: 500px;
    text-align: center;
  }

  .showcase_main > h1 {
    font-size: 2.5rem;
    width: 80%;
  }

  .showcase_main > button {
    width: 40%;
  }

  .showcase_overlay {
    min-height: 540px;
  }

  .showcase_needies {
    text-align: center;
  }

  .showcase_needies > h1 {
    font-size: 3rem;
  }

  .showcase_needies_grid {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 30px;
    padding-right: 30px;
  }

  .showcase_needies > button {
    width: 50%;
  }

  .showcase_quotes {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
  }
}

@media (max-width: 700px) {
  .showcase_overlay {
    min-height: 560px;
  }
}

@media (max-width: 415px) {
  .showcase_main {
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 20px;
    min-height: 300px;
    text-align: center;
  }

  .showcase_main > h1 {
    font-size: 1.8rem;
    width: 80%;
    margin-top: 30px;
  }

  .showcase_main > button {
    width: 60%;
    font-size: 1rem;
  }

  .showcase_overlay {
    min-height: 360px;
  }

  .showcase_needies {
    text-align: center;
  }

  .showcase_needies > h1 {
    font-size: 2.2rem;
  }

  .showcase_needies_grid {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 30px;
    padding-right: 30px;
  }

  .showcase_needies > button {
    width: 60%;
  }

  .showcase_quotes {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    text-align: center;
    padding: 0px;
    margin-bottom: 50px;
  }
}
