.login {
  padding: 50px;
}

.login_container {
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  width: 50%;
  display: grid;
  height: 50vh;
  place-items: center;
  margin: auto;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

.login_container > form > input[type="text"],
.login_container > form > input[type="password"] {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 1.2rem;
}

.login_container > form > input[type="text"]:focus,
.login_container > form > input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.login_container > h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.login_container > form > p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.login_clearfix {
  display: flex;
  justify-content: space-between;
}

/* Set a style for all buttons */
.login_clearfix > button {
  background-color: #02a95c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 20px;
  border: 1px solid #02a95c;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 1.1rem;
  font-weight: 600;
  outline: none;
}

.login_clearfix > button:nth-of-type(1) {
  margin-right: 10px;
}

.login_clearfix > button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.loginbtn {
  float: left;
  width: 50%;
}

/* Clear floats */
.login_clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 415px) {
  .login {
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .login_container {
    width: 80%;
    padding: 30px;
    border-radius: 0;
  }

  .login_container > h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}
