@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
body {
  background-color: rgb(223, 219, 219);
  color: white;
}
.heading {
  color: #d0acff;
  text-align: center;
  font-size: 7vw;
  background-color: #57239b96;
  border-radius: 50px;
  font-family: "Yusei Magic", sans-serif;
}
.heading1 {
  font-size: 5vw;
  display: inline;
  border-radius: 5px;
  font-family: "Fraunces", serif;
}
.heading3
{
  font-size: 3vw;
 
  border-radius: 5px;
  font-family: "Fraunces", serif;
}
.container {
  display: block;
  position: relative;
  padding-left: 4vw;
  margin-bottom: 1vw;
  cursor: pointer;
  font-size: 3vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  background-color: #dabeff;
  position: absolute;
  top: 0;
  left: 0.5vw;
  height: 3vw;
  width: 3vw;
  background-color: #bc8cfc;
}
.container:hover input ~ .checkmark {
  background-color: #9067c5;
}
.container input:checked ~ .checkmark {
  background-color: #612aa8;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 1vw;
  top: 0.8vw;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn {
  background: #5d29a1;

  color: white;

  border-style: outset;

  border-color: #522d83;

  height: 3.7vw;

  width: 9vw;

  font: bold px arial, sans-serif;

  text-shadow: none;

  margin-bottom: 15px;
  margin-left: 0.5vw;
  padding-bottom: 1.5vw;
  margin-top: 0.5vw;
}
 .edit
{
  background:#975ee0;

  color: white;

  border-style: outset;

  

  height: 3.7vw;

  width: 9vw;

  font: bold px arial, sans-serif;

  text-shadow: none;

  margin-bottom: 15px;
  

} 