@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');
body
{
    background-color:rgb(223, 219, 219);
}
.heading
{
    color: #d0acff;
    text-align: center;
    font-size: 70px;;
    background-color: #57239b96;
    border-radius: 50px;
    font-family: 'Yusei Magic', sans-serif;
}
.heading1
{
   
    font-size: 40px;;
    display:inline;
    border-radius: 5px;
    font-family: 'Fraunces', serif;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    background-color:#dabeff;
    position: absolute;
    top: 0;
    left: 5px;
    height: 25px;
    width: 25px;
    background-color: #bc8cfc;
   
  }
  .container:hover input ~ .checkmark {
    background-color: #9067c5;
  }
  .container input:checked ~ .checkmark {
    background-color: #612aa8;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.btn
{

    background:#5d29a1;

color: white;

border-style: outset;

border-color:#522d83;

height: 50px;

width: 100px;

font: bold px arial, sans-serif;

text-shadow:none;
}