/* google fonts imported */
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
/* styling for body in dashboard */
body {
  background-color: rgb(223, 219, 219);
  color: white;
}
/* styling for first heading("welcome...") in dashboard */
.heading {
  color: #d0acff;
  text-align: center;
  font-size: 7vw;
  background-color: #57239b96;
  border-radius: 50px;
  font-family: "Yusei Magic", sans-serif;
}
/* styling for "your email" text in dashboard */
.heading1 {
  font-size: 5vw;
  display: inline;
  border-radius: 5px;
  font-family: "Fraunces", serif;
}
/* styling for topic choose text in dashboard */
.heading3 {
  font-size: 3vw;

  border-radius: 5px;
  font-family: "Fraunces", serif;
}
/* checkbox in choose topic menu */
.container {
  display: block;
  position: relative;
  padding-left: 4vw;
  margin-bottom: 1vw;
  cursor: pointer;
  font-size: 3vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* input inside checkbox menu */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* styling to make checkbox for checkbox menu */
.checkmark {
  background-color: #dabeff;
  position: absolute;
  top: 0;
  left: 0.5vw;
  height: 3vw;
  width: 3vw;
  background-color: #bc8cfc;
}
/* hover effect in checkbox */
.container:hover input ~ .checkmark {
  background-color: #9067c5;
}
.container input:checked ~ .checkmark {
  background-color: #612aa8;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
/* checkmark sign styling after user click any checkbox */
.container .checkmark:after {
  left: 1vw;
  top: 0.8vw;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* button inside dasboard */
.btn {
  background: #5d29a1;

  color: white;

  border-style: outset;

  border-color: #522d83;

  height: 3.7vw;

  width: 9vw;

  text-shadow: none;

  margin-bottom: 15px;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
}
/* styling for edit button in dashboard */
.edit {
  background: #975ee0;

  color: white;

  border-style: outset;

  height: 3.7vw;

  width: 9vw;

  font: bold 2vw arial, sans-serif;

  text-shadow: none;

  margin-bottom: 15px;
}
@media screen and (max-width: 670px)
{
  .btn {
    background: #5d29a1;
  
    color: white;
  
    border-style: outset;
  
    border-color: #522d83;
  
    
  
   height:20px;
  width:50px;
  font-size: 10px;;
    text-shadow: none;
  
    margin-bottom: 15px;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
  }
  /* styling for edit button in dashboard */
  .edit {
    background: #975ee0;
  
    color: white;
  
    border-style: outset;
  
    height:20px;
  width:50px;
  font-size: 10px;;
  
  
    text-shadow: none;
  
    margin-bottom: 15px;
  }

}