{% extends 'base.html' %} {% block content %}
<div class="container base-content about-page">
    <div class="row">
        <div class="col text-center">
            <p>Food Riddle is a simple game written in Python 3 using HTML, CSS, Javascript and the Flask Framework to bring it all together.</p>
            <p>The point of this game is to match and combine the opposite food items. By opposite we mean the food items which should not be eaten together. If guessed right, points will be added to your total score.</p>
            <p>If your score is high enough, you will get put onto the highscore board.</p>
            <hr>
            <p><i class="fas fa-code"></i> with <i class="fas fa-heart" style="color: #e25555;"></i> By Wondrous-waffles</p>
        </div>
    </div>
</div>
{% endblock %}
