<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="Riddle Game">

  <meta name="author" content="Shaun Nugent">

  <title>Food Riddle</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <!-- Hover.CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" />
  
  <!-- Custom styles -->
  <link href="{{ url_for('static', filename='custom/css/styles.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand hvr-grow" href="{{ url_for('index') }}">
          <img src="../static/img/logo_white.png" width="200" height="40" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item hvr-grow">
            <a class="nav-link" href="{{ url_for('index') }}"><i class="fas fa-dice"></i> New Game</a>
          </li>
          <li class="nav-item hvr-grow">
            <a class="nav-link" href="{{ url_for('highscores') }}"><i class="fas fa-trophy"></i> Highscores</a>
          </li>
          <li class="nav-item hvr-grow">
            <a class="nav-link" href="{{ url_for('about') }}"><i class="fas fa-question-circle"></i> About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  {% block content %} {% endblock %}
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
