{% extends 'base.html' %} {% block content %}
<div class="container base-content main-page">
    <div class="row">
        <div class="col text-center">
            <br>
            <form method="POST">
                <label for="username">To Continue, Please Enter Your Name</label>
                <br>
                <input type="text" id="username" name="username" autofocus/>
                <br>
                <br>
                <button class="btn btn-dark hvr-round-corners">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
