.firmFund {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}

.firmFund_image > img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.firmFund_about > h2 {
  font-size: 2rem;
  margin-top: 20px;
}

.firmFund_about > p {
  width: 60%;
  margin: auto;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 2;
}

.firmFund_need > h2 {
  font-size: 2.5rem;
  margin-top: 50px;
}

.firmFund_need > p {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
}

.firmFund_fund > h2 {
  font-size: 2.3rem;
  margin-top: 50px;
}

.firmFund_fund > form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.firmFund_fund > form > input[type="number"] {
  padding: 10px;
  width: 20%;
  font-size: 1.2rem;
  outline: none;
  border: none;
}

.firmFund_fund > form > input[type="number"]:focus {
  border-bottom: 3px solid #02a95c;
  transition: width 5s ease;
}

.firmFund_fund > form > button {
  font-size: 1.2rem;
  width: 20%;
  border-radius: 30px;
  outline: none;
  background-color: #02a95c;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  border: 1px solid #02a95c;
  cursor: pointer;
}
