.firmFund {
  text-align: center;
  background-color: #fff;
  padding: 10px;
}

.firmFund_image > img {
  height: 100px;
  width: 100px;
}

.firmFund_about > p {
  font-size: 1.1rem;
}

.firmFund_about {
}
