.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.navbar_login_signup > button:nth-last-of-type() {
  margin-right: 10px;
}

.navbar_login_signup > button {
  padding: 5px;
  font-size: 1.1rem;
  outline: none;
}
