@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
}

.navbar_logo > h1 {
  font-family: "Poppins", sans-serif;
}

.navbar_login_signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_login_signup > button:nth-of-type(1) {
  margin-right: 10px;
}

.navbar_login_signup > button {
  padding: 5px;
  font-size: 1.1rem;
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
}
