.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.navbar_login_signup {
  display: flex;
  padding: 20px;
}

.navbar_login_signup > button:nth-of-type(1) {
  margin-right: 10px;
}

.navbar_login_signup > button {
  padding: 5px;
  font-size: 1.1rem;
  outline: none;
  border-radius: 30px;
  width: 100%;
}
