.showcase_main {
  background: url("https://images.moneycontrol.com/static-mcnews/2020/09/Mutual-Fund-1-02092020.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 20px;
  min-height: 600px;
  text-align: center;
}

.showcase_main > h1 {
  font-size: 3.5rem;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  z-index: 10;
}

.showcase_main > p {
  font-size: 2rem;
  margin-top: 10px;
  font-weight: 700;
}

.showcase_main > button {
  margin-top: 10px;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 20px;
  width: 10%;
  margin-top: 20px;
  cursor: pointer;
  z-index: 1000;
  outline: none;
}

.showcase_main > button:nth-of-type(1) {
  margin-right: 20px;
}

.showcase_overlay {
  position: absolute;
  min-height: 640px;
  top: 90px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  mix-blend-mode: overlay;
  z-index: -100;
}
